@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700&display=swap");
@import "./normalize.scss";
@import "./varibles.scss";
@import "./breakpoints.scss";
@import "./components/header.scss";
@import "./components/banner.scss";
@import "./components/cases.scss";
@import "./components/navigation.scss";

body,
html {
  visibility: hidden;
  user-select: none;
  background: $white;
  overscroll-behavior: none;
  box-sizing: border-box;
  margin: 0;
  font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 1560px;
  min-width: 1560px;
  margin: 0 auto;
  height: 100%;
  @include media("<=1560px") {
    width: 1280px;
    min-width: 1280px;
  }
  @include media("<=desktop") {
    width: 1080px;
    min-width: 1080px;
  }
  @include media("<=1080px") {
    width: 100%;
    min-width: 100%;
  }
  .row {
    display: flex;
    height: 100%;
    padding: 0 32px;
    @include media("<=phone") {
      padding: 0 16px;
    }
  }
  .v-center {
    align-items: center;
  }
  .space-between {
    justify-content: space-between;
  }
}

.container-fluid {
  width: 100%;
  height: 100%;
  .row {
    display: flex;
    height: 100%;
  }
}

// intro overlay
.intro-overlay {
  overflow: hidden;
  .top {
    padding-top: 20px;
    height: 50vh; // fall back
    height: calc(var(--vh, 1vh) * 50);
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 5;
    .overlay-top {
      position: absolute;
      height: 100%;
      width: 33.3333vw;
      background-color: $black;
      left: 0;
      bottom: 0;
      right: 0;
      @include media("<=tablet") {
        width: 100vw;
      }
      &:nth-child(2) {
        left: 33.3333vw;
        background-color: $black;
        @include media("<=tablet") {
          display: none;
        }
      }
      &:nth-child(3) {
        left: 66.6666vw;
        background-color: $black;
        @include media("<=tablet") {
          display: none;
        }
      }
    }
  }
  .bottom {
    height: 50vh; // fall back
    height: calc(var(--vh, 1vh) * 47);
    width: 100vw;
    top: calc((var(--vh, 1vh) * 50) + 20px);
    position: absolute;
    z-index: 5;
    .overlay-bottom {
      position: absolute;
      height: 100%;
      width: 33.3333vw;
      background-color: $black;
      bottom: 0;
      right: 66.6666vw;
      @include media("<=tablet") {
        right: 0;
        width: 100vw;
      }
      &:nth-child(2) {
        right: 33.3333vw;
        background-color: $black;
        @include media("<=tablet") {
          display: none;
        }
      }
      &:nth-child(3) {
        right: 0;
        background-color: $black;
        @include media("<=tablet") {
          display: none;
        }
      }
    }
  }
}

.App {
  z-index: 2;
  transform: translateY(0);
  position: relative;
}

.page {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background: $white;
  .row {
    display: flex;
    align-items: center;
  }
}
